{% extends "default.twig" %}

{%  block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/scaffold.css') }}" type="text/css" />
{%  endblock %}

{% block content %}
<form method="post" action="{{ url() }}">
    {{ form_label('login.username', 'Nombre de Usuario: ') }}
    {{ form_text('login.username') }}<br/>
    {{ form_label('login.password', 'Contraseña: ') }}
    {{ form_password('login.password') }}<br/>
    <input type="submit" class="btn" value="Iniciar Sesión" />
</form>
{% endblock %}