{% extends "default.twig" %}
{% block content %}
{{ 'now'|date("d") ~ ' de ' ~ 'now'|date('M') ~ ' de ' ~ 'now'|date('Y') }}<br />
<h2>config.ini <span class='app'> de {{ appName }}</span></h2>

<h4>Estado Actual del Framework: <span>{{ constant('PRODUCTION') ? 'Producción' : 'Desarrollo' }}</span></h4>

<h4>Base de Datos: <span>{{ config.database }}</span></h4>
<p>Datos de la conexión a la BD que será utilizada, ver configuración <a href="http://wiki.kumbiaphp.com/KumbiaPHP_Framework_Versi%C3%B3n_1.0_Spirit#databases.ini">databases.ini</a>.</p>

<h4>TimeZone: <span{{ config.timezone|default(defaultTimeZone) }}</span></h4>
<p>Zona horaria que usará el Framework.</p>

<h4>Cache Driver: <span>{{ config.cache|default('No ha seleccionado un driver para la cache') }}</span></h4>
<p>Driver que se utilizara para realizar las operaciones de cache.</p>

<h4>Locale: <span>{{ config.locales|default('No se están usando locales') }}</span></h4>
<p>Localización. Característica que depende de los locale instalado en el servidor.</p>

{% endblock %}