{#
 * KumbiaPHP web & app Framework
 *
 * LICENSE
 *
 * This source file is subject to the new BSD license that is bundled
 * with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://wiki.kumbiaphp.com/Licencia
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@kumbiaphp.com so we can send you a copy immediately.
 *
 * Paginador "simple" para aplicaciones
 *
 * Parametros del paginador:
 *   page: objeto obtenido al invocar al paginador
 *   url: url para la accion que efectua la paginacion, por defecto "module/controller/page/"
 *        y se envia por parametro el numero de pagina
 * 
 * @category   Kumbia
 * @package    Partials 
 * @copyright  Copyright (c) 2005-2012 Kumbia Team (http://www.kumbiaphp.com)
 * @license    http://wiki.kumbiaphp.com/Licencia     New BSD License
 #}
{% if page is not null %}
{% spaceless %}
{% set url = rtrim(url|default(url(parameters={})), '/') ~ '/' %}
<div class="paginator">
    {% if page.previousPage == 1 %}
        <a href="{{ url }}" title="Ir a la pág. anterior" class="nextprev">Anterior</a>
    {% elseif page.previousPage %}
        <a href="{{ url~page.previousPage }}" title="Ir a la pág. anterior" class="nextprev">Anterior</a>
    {% endif %}

    pag. {{ page.currentPage }} de {{ page.pages }}

    {% if page.nextPage %}
        <a href="{{ url~page.nextPage }}" title="Ir a la pág. siguiente" class="nextprev">Siguiente</a>
    {% endif %}
</div>
{% endspaceless %}
{% endif %}
