{% extends "default.twig" %}

{% block css %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/scaffold.css') }}" type="text/css" />
{% endblock %}

{% block content %}
<h3>Ejemplo de subida de Imagenes</h3>
<form method="post" action="{{ url() }}" enctype="multipart/form-data">
<ul>
    <li>{{ form_label('imagen', 'Imagen') }} {{ form_file('imagen') }}</li>
    <li><input type="submit" value="Enviar Form" class="btn" /></li>
</ul>
</form>
{% endblock %}
